{% extends 'polls/base.html' %}

{% block title %}
登录
{% endblock %}


{% block body %}
{# django默认自动转义  默认自动浏览器不解释  #}

{{error}}
{% comment %}
<h1>登录</h1>
<form action="{% url 'polls:login' %}" method="post">

    {{error}}
    <br>
    用户名:<input type="text" name="username">
    <br>
    <input type="submit" value="提交">

</form>
{% endcomment %}


<br><br><br><br><br>
<h2>BootStrap模板登录注册</h2>
<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab"
                                                  data-toggle="tab">登录</a>
        </li>
        <li role="presentation"><a href="#regist" aria-controls="regist" role="tab" data-toggle="tab">注册</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="login">
            <h3>登录</h3>
            <form class="form-horizontal" action="{% url 'polls:login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">用户名：</label>
                    <div class="col-sm-10">
                        <input autocomplete="off" type="text" name="username" class="form-control" id="username"
                               placeholder="请输入用户名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">密码：</label>
                    <div class="col-sm-10">
                        <input type="password" name="password" class="form-control" id="password" placeholder="请输入密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="verify" class="col-sm-2 control-label">验证码：</label>
                    <div class="col-sm-2">
                        <img src="{% url 'polls:verify' %}" alt="" width="100" height="35">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="verify" class="form-control" id="verify" placeholder="请输入验证码">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">登录</button>


                        <span id="convertdata" class="btn btn-success">测试</span>

                        <div id="info">null</div>
                    </div>
                </div>
            </form>

        </div>

        <script>
            <!--console.log($);-->
            $(function(){
                <!--$("#convertdata").click(function(){-->

                $("#username").blur(function(){
                    $.ajax({
                        url:"/polls/checkuser/",
                        type:"post",
                        data:{"username": $("#username").val(),
                         "csrfmiddlewaretoken": '{{ csrf_token }}'
                         },
                        success: function(data){
                            <!--console.log(data.state)-->

                            if(data.state)
                            {
                            $("#info").text("")
                            }
                            else
                            {
                            $("#info").text(data.error)
                            }


                        }

                    })
                })
            })





        </script>


        <div role="tabpanel" class="tab-pane" id="regist">
            <h3>注册</h3>
            <form class="form-horizontal" action="{% url 'polls:regist' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username_regi" class="col-sm-2 control-label">用户名：</label>
                    <div class="col-sm-10">
                        <input type="text" name="username_regi" class="form-control" id="username_regi"
                               placeholder="请输入用户名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password_regi" class="col-sm-2 control-label">密码：</label>
                    <div class="col-sm-10">
                        <input type="password" name="password_regi" class="form-control" id="password_regi"
                               placeholder="请输入密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password_regi_2" class="col-sm-2 control-label">重复密码：</label>
                    <div class="col-sm-10">
                        <input type="password" name="password_regi_2" class="form-control" id="password_regi_2"
                               placeholder="请再次输入密码">
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">输入邮箱：</label>
                    <div class="col-sm-10">
                        <input type="email" name="email" class="form-control" id="email"
                               placeholder="请输入邮箱">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <br><br><br><br><br>

    {% comment %}
    <form action="{% url 'polls:login' %}" method="post">
        {% csrf_token %}
        {{lf}}
        <input type="submit" value="登录">

    </form>


    <form action="#" method="post">
        {% csrf_token %}
        {{rf}}
        <input type="submit" value="注册">
    </form>
    {% endcomment %}


</div>


<br><br><br><br><br><br><br><br><br><br>
{% endblock %}

