{% extends 'base.html' %}
{% load extend_fun %}

{% block left %}
<article class="post post-{{ article.id }}">
    <header class="entry-header">
        <h1 class="entry-title">{{ article.title }}</h1>
        <div class="entry-meta">
            <span class="post-category"><a href="#">{{ article.category.title  }}</a></span>
            <span class="post-date"><a href="#"><time class="entry-date"
                                                      datetime="2012-11-09T23:15:57+00:00">{{ article.create_time }}</time></a></span>
            <span class="post-author"><a href="#">{{ article.auther.username }}</a></span>
            <span class="comments-link"><a href="#">{{ article.comment_set.count }} 评论</a></span>
            <span class="views-count"><a href="#">{{ article.views }} 阅读</a></span>
        </div>
    </header>
    <div class="entry-content clearfix">
        {{ article.body|safe }}
    </div>
</article>
<section class="comment-area" id="comment-area">
    <hr>
    <h3>发表评论</h3>
    <form action="{% url 'comments:addcomment' article.id %}" method="post" class="comment-form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <label for="id_name">名字：</label>
                {{ cf.name }}
            </div>
            <div class="col-md-4">
                <label for="id_email">邮箱：</label>
                {{ cf.email }}
            </div>
            <div class="col-md-4">
                <label for="id_url">网址：</label>
                {{ cf.url }}
            </div>
            <div class="col-md-12">
                <label for="id_comment">评论：</label>
                {{ cf.comment }}
                <button type="submit" class="comment-btn">发表</button>
            </div>
        </div>    <!-- row -->
    </form>



    <div class="comment-list-panel">
        <h3>评论列表，共 <span> {{ article.comment_set.count }} </span> 条评论</h3>
        <ul class="comment-list list-unstyled">

            {% for c in article.comment_set.all %}
                <li class="comment-item">
                <span class="nickname">{{ c.username }}</span>
                <time class="submit-date" datetime="2012-11-09T23:15:57+00:00">{{ c.create_time }}</time>
                <div class="text">
                    {{ c.content  }}
                </div>
            </li>
            {% empty %}
                <li>评论</li>
            {% endfor %}


        </ul>
    </div>
</section>
{% endblock %}

{% block toc %}
<div class="widget widget-content">
    <h3 class="widget-title">文章目录</h3>
    {{ article.toc|safe }}
</div>
{% endblock %}